{% extends "base.html" %}

{% block conteudo %}

<table class="table">
<tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Disponível ?</th>
</tr>
{% for chave in chaves %}
    <tr>
        <td>{{chave.id}}</td>
        <td>{{chave.nome}}</td>
        <td>{{chave.disponivel}}</td>
    </tr>
{% endfor %}

</table>

{% endblock %}
